
$b:black;
$w:#ffffff;
$stroke:#655c80;
$w-text:#f9f9f9;
$l-gray:#c6c4c9;
$d-gray:#807c95;
$hover: #00e0d0;
$menu-bg: rgba(52, 42, 86, 0.876);
$w-text-d:#f3f3f3;
$text-color:#716e78;
$title-color:#413d4b;



$roboto-t:'robotothin';
$roboto-l:'robotolight';
$roboto-b: 'robotoblack';
$roboto-r:'robotoregular';

$hammer: 'hammersmith_oneregular';

$playfair-b:'playfair_displayblack';
$playfair-bo:'playfair_displaybold';
$playfair-r:'playfair_displayregular';
