<section class="about-us">
    <div class="container">
        <div class="row justify-content-between">
            <div class="big-logo col-md-3 offset-md-1">
                <img src="./img/big-logo.png" alt="" class="big-logo-img">
            </div>
            <div class="description col-md-6 offset-md-1">
                <h2 class="title">our story</h2>
                <p class="text-1">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                </p>
                <p class="text-2">
                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                <a href="#" class="btn" role="button" aria-pressed="true">LEARN MORE</a>
            </div>
        </div>
    </div>
    <div class="story">
       <img src="./img/video-img.png" alt="" class="story-bg">
       <div class="controls">
            <i class="far fa-play-circle circle-play"></i>
            <span class="text">WATCH OUR STORY</span>
       </div>
    </div>
</section>