<section class="slide-show">
    
        <div id="carouselCaptions" class="carousel-wrapper carousel slide" data-ride="carousel">
            <ol class="indicators-list carousel-indicators">
                <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselCaptions" data-slide-to="1"></li>
                <li data-target="#carouselCaptions" data-slide-to="2"></li>
                <li data-target="#carouselCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-content carousel-inner">
                <div class="content-item carousel-item active">
                    <img src="./img/carousel-img.png" class="bg-img" alt="...">
                    <div class="slide-text carousel-caption">
                        <h2 class="slide-title">
                            We Are Awesome Creative Agency
                        </h2>
                        <span class="stroke"></span>
                        <p class="text">
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                        </p>
                        <a href="#" class="btn" role="button" aria-pressed="true">LEARN MORE</a>
                    </div>
                </div>

                <div class="content-item carousel-item">
                    <img src="./img/carousel-img.png" class="bg-img" alt="...">
                    <div class="slide-text carousel-caption">
                        <h2 class="slide-title">
                            We Are Awesome Creative Agency
                        </h2>
                        <span class="stroke"></span>
                        <p class="text">
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                        </p>
                        <a href="#" class="btn" role="button" aria-pressed="true">LEARN MORE</a>
                    </div>
                </div>

                <div class="content-item carousel-item">
                    <img src="./img/carousel-img.png" class="bg-img" alt="...">
                    <div class="slide-text carousel-caption">
                        <h2 class="slide-title">
                            We Are Awesome Creative Agency
                        </h2>
                        <span class="stroke"></span>
                        <p class="text">
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                        </p>
                        <a href="#" class="btn" role="button" aria-pressed="true">LEARN MORE</a>
                    </div>
                </div>

                <div class="content-item carousel-item">
                    <img src="./img/carousel-img.png" class="bg-img" alt="...">
                    <div class="slide-text carousel-caption">
                        <h2 class="slide-title">
                            We Are Awesome Creative Agency
                        </h2>
                        <span class="stroke"></span>
                        <p class="text">
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                        </p>
                        <a href="#" class="btn" role="button" aria-pressed="true">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
</section>
