<section class="contact">
    <div class="container">
        <div class="row">
            <div class="contact-form col-md-6">
                <h5 class="title">GIVE US A GOOD NEWS</h5>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your Message" rows="10"></textarea>
                    </div>
                    <a href="#" class="btn" role="button" aria-pressed="true">SUBMIT</a>
                </form>

            </div>
            <div class="clients col-lg-5 col-md-6 ">
                <h5 class="title">OUR HAPPY CLIENT</h5>
                <div class="clients-logo">
                    <img src="./img/client-logos/logo-zara.svg" alt="" class="clients-logo-img">
                    <img src="./img/client-logos/logo-mango.svg" alt="" class="clients-logo-img">
                    <img src="./img/client-logos/logo-barneys.svg" alt="" class="clients-logo-img">
                    <img src="./img/client-logos/logo-gucci.svg" alt="" class="clients-logo-img">
                    <img src="./img/client-logos/logo-ck.svg" alt="" class="clients-logo-img">
                    <img src="./img/client-logos/logo-nike.svg" alt="" class="clients-logo-img">
                    <img src="./img/client-logos/logo-converse.svg" alt="" class="clients-logo-img">
                    <img src="./img/client-logos/logo-puma.svg" alt="" class="clients-logo-img">
                    <img src="./img/client-logos/logo-levis.svg" alt="" class="clients-logo-img">
                    <img src="./img/client-logos/logo-billabong.svg" alt="" class="clients-logo-img">
                </div>
            </div>
        </div>
    </div>
</section>