<section class="expertise">
    <div class="container">
        <h2 class="title">expertise</h2>
        <p class="sub-title">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
        <div class="row">
            <div class="expertise-item col-md-4 col-6">
                <div class="item-icon">
                    <img src="./img/expertise/web.png" alt="" class="icon-img">                    
                </div>
                <h4 class="title">WEB DESIGN & DEVELOPMENT</h4>
                <p class="description">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </p>
            </div>
            <div class="expertise-item col-md-4 col-6">
                <div class="item-icon">
                    <img src="./img/expertise/brand.png" alt="" class="icon-img">
                </div>
                <h4 class="title">BRANDING IDENTITY</h4>
                <p class="description">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </p>
            </div>
            <div class="expertise-item col-md-4 col-6">
                <div class="item-icon">
                    <img src="./img/expertise/mobile.png" alt="" class="icon-img">
                </div>
                <h4 class="title">MOBILE APP</h4>
                <p class="description">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </p>
            </div>
            <div class="expertise-item col-md-4 col-6">
                <div class="item-icon">
                    <img src="./img/expertise/search.png" alt="" class="icon-img">
                </div>
                <h4 class="title">SEARCH ENGINE OPTIMIZATION</h4>
                <p class="description">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </p>
            </div>
            <div class="expertise-item col-md-4 col-6">
                <div class="item-icon">
                    <img src="./img/expertise/game.png" alt="" class="icon-img">
                </div>
                <h4 class="title">GAME DEVELOPMENT</h4>
                <p class="description">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </p>
            </div>
            <div class="expertise-item col-md-4 col-6">
                <div class="item-icon">
                    <img src="./img/expertise/love.png" alt="" class="icon-img">
                </div>
                <h4 class="title">MADE WITH LOVE</h4>
                <p class="description">
                    This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                </p>
            </div>
        </div>
    </div>
</section>