<div class="container">
    <div class="row">
        <div class="info col-sm-6 col-md-4">
            <div class="logo">
                <img src="./img/logo.png" alt="" class="logo-img">
                tajam
            </div>
            <p class="text">
                lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
            </p>
            <ul class="links-list">
                <li class="links-item">
                    <a href="#" class="info-link" role="button" aria-pressed="true" >HELP</a>
                </li>
                <li class="links-item">
                    <a href="#" class="info-link" role="button" aria-pressed="true" >TERMS & CONDITION</a>
                </li>
                <li class="links-item">
                    <a href="#" class="info-link" role="button" aria-pressed="true" >PRIVACY</a>
                </li>
            </ul>
        </div>
        <div class="contacts col-sm-6 col-md-4">
           <h5 class="title">our studio</h5>
           <ul class="contact-info">
               <li class="item">
                   <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
                   <span class="text">
                       Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat
                        11480 - Indonesia
                    </span>
                </li>
               <li class="item">
                   <span class="icon"><i class="fas fa-phone"></i></span>
                   <span class="text">(+62) 21-2224 3333</span>
                </li>
           </ul>
        </div>
        <div class="social col-12 col-md-4">
           <h5 class="title">STAY IN TOUCH</h5>
           <form class="form-inline">
                <div class="form-group">
                  <input type="text"  class="form-control-plaintext" id="staticEmail2" value="Subscribe our newsletter">
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-location-arrow"></i>
                </button>
            </form>
           <ul class="social-link">
               <li class="link-item">
                   <a href="#" class="link">
                       <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
               <li class="link-item">
                   <a href="#" class="link">
                       <i class="fab fa-twitter"></i>
                    </a>
                </li>
               <li class="link-item">
                   <a href="#" class="link">
                       <i class="fab fa-dribbble"></i>
                    </a>
                </li>
               <li class="link-item">
                   <a href="#" class="link">
                       <i class="fab fa-instagram"></i>
                    </a>
                </li>
               <li class="link-item">
                   <a href="#" class="link">
                       <i class="fab fa-google-plus-g"></i>
                    </a>
                </li>
               <li class="link-item">
                   <a href="#" class="link">
                       <i class="fab fa-youtube"></i>
                    </a>
                </li>
           </ul>
           <span class="copy-right">Copyright © 2015 - Tajem Creative</span>
        </div>
    </div>
</div>