<section class="our-work">
    <div class="container">
        <div class="row">
            <div class="title col-md-6">OUR WORKS</div>
            <div class="link-wrapper col-md-6">
                <a href="#" class="link">
                    See All Project in dribbble
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="works">
        <div class="row1">
            <img src="./img/works-item-img.png" alt="" class="work-img">
            <img src="./img/works-item-img2.png" alt="" class="work-img">
            <img src="./img/works-item-img3.png" alt="" class="work-img">
            <img src="./img/works-item-img.png" alt="" class="work-img">
            <img src="./img/works-item-img3.png" alt="" class="work-img">
            <img src="./img/works-item-img2.png" alt="" class="work-img">
        </div>
        <div class="row2">
            <img src="./img/works-item-img2.png" alt="" class="work-img">
            <img src="./img/works-item-img.png" alt="" class="work-img">
            <img src="./img/works-item-img3.png" alt="" class="work-img">
            <img src="./img/works-item-img2.png" alt="" class="work-img">
            <img src="./img/works-item-img.png" alt="" class="work-img">
            <img src="./img/works-item-img3.png" alt="" class="work-img">
        </div>
    </div>
    <div class="load-link">
        <a href="#" class="btn" role="button" aria-pressed="true">LOAD MORE</a>
    </div>
    
</section>