<section class="team">
    <div class="container">
        <div class="introduce">
            <h3 class="title">MEET OUR AMAZING TEAM</h3>
            <p class="subtitle">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
            <span class="stroke"></span>
        </div>
        <div class="content row">
            <div class="member col-md-3 col-sm-6">
                <img src="./img/team-member.png" alt="" class="member-img">
                <div class="info">
                    <p class="name">SEMF UCUK</p>
                    <p class="activity">CEO & FOUNDER</p>
                </div>
                
            </div>
            <div class="member col-md-3 col-sm-6">
                <img src="./img/team-member.png" alt="" class="member-img">
                <div class="info">
                    <p class="name">DIK ADALIN</p>
                    <p class="activity">ENGINEERING</p>
                </div>
            </div>
            <div class="member col-md-3 col-sm-6">
                <img src="./img/team-member.png" alt="" class="member-img">
                <div class="info">
                    <p class="name">JENG KOL</p>
                    <p class="activity">DESIGNER</p>    
                </div>
            </div>
            <div class="member col-md-3 col-sm-6">
                <img src="./img/team-member.png" alt="" class="member-img">
                <div class="info">
                    <p class="name">PET ROMAK</p>
                    <p class="activity">PET ROMAK</p>
                </div>
                
            </div>
            <div class="to-join col-12">
                <p class="text">Become part of our dream team, let’s join us!</p>
                <a href="#" class="btn">WE ARE HIRING</a>
            </div>
        </div>
    </div>
</section>