<section class="testimonials">
    <div class="container">
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                <div class="controls-wrapper">
                    <a class="arrow-prew carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>

                    <ol class="indicators-wrapper carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="indicator-item carousel-indicator active">
                            <img src="./img/testimonials-img/client-img-1.png" alt="" class="indicator-img">
                        </li>
    
                        <li data-target="#carouselExampleCaptions" data-slide-to="1" class="indicator-item carousel-indicator">
                            <img src="./img/testimonials-img/client-img-2.png" alt="" class="indicator-img">
                        </li>
    
                        <li data-target="#carouselExampleCaptions" data-slide-to="2" class="indicator-item carousel-indicator">
                            <img src="./img/testimonials-img/client-img-3.png" alt="" class="indicator-img">
                        </li>
    
                        <li data-target="#carouselExampleCaptions" data-slide-to="3" class="indicator-item carousel-indicator">
                            <img src="./img/testimonials-img/client-img-4.png" alt="" class="indicator-img">
                        </li>
    
                        <li data-target="#carouselExampleCaptions" data-slide-to="4" class="indicator-item carousel-indicator">
                            <img src="./img/testimonials-img/client-img-5.png" alt="" class="indicator-img">
                        </li>
                    </ol>

                    <a class="arrow-next carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="icon">
                            <img src="./img/quotes.png" alt="" class="qoutes">
                        </div>
                        <div class="text">
                            <p class="comment">
                                1This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                            </p>
                            <p class="name">  JANE GALADRIEL</p>
                            <p class="activity">CEO TENGKUREP</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="icon">
                            <img src="./img/quotes.png" alt="" class="qoutes">
                        </div>
                        <div class="text">
                            <p class="comment">
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                            </p>
                            <p class="name"> JANE GALADRIEL</p>
                            <p class="activity">CEO TENGKUREP</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="icon">
                            <img src="./img/quotes.png" alt="" class="qoutes">
                        </div>
                        <div class="text">
                            <p class="comment">
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                            </p>
                            <p class="name"> JANE GALADRIEL</p>
                            <p class="activity">CEO TENGKUREP</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="icon">
                            <img src="./img/quotes.png" alt="" class="qoutes">
                        </div>
                        <div class="text">
                            <p class="comment">
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                            </p>
                            <p class="name"> JANE GALADRIEL</p>
                            <p class="activity">CEO TENGKUREP</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="icon">
                            <img src="./img/quotes.png" alt="" class="qoutes">
                        </div>
                        <div class="text">
                            <p class="comment">
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                            </p>
                            <p class="name"> JANE GALADRIEL</p>
                            <p class="activity">CEO TENGKUREP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</section>